html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.App {
  padding: 4px;
  font-family: sans-serif;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.AppNavbar {
  display: flex;
  flex: 1;
}
.AppInputDocumentGroup {
  display: flex;
  flex: 1;
  margin-right: 20px;
}
.AppContent {
  display: flex;
  flex: 1;
  height: 100%;
  padding: 4px;
}
.AppDataView {
  width: 100%;
}
.AppDataViewTable {
  font-size: 12px !important;
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
}
.AppDataViewTable tbody tr {
  cursor: pointer;
}
.AppDataViewTable tr th,
.AppDataViewTable tr td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-word;
}
.AppDataViewTable td span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

.AppDataViewTable thead {
  background: #fff;
}
.AppDataViewTable thead th {
  padding: 2px !important;
}
.AppDataViewTableHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.AppDataViewTableHeaderLabel {
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-word;
  padding-left: 4px;
}
.AppDataViewTableHeaderFilterCheckboxes {
  max-height: 400px;
  overflow: hidden;
  overflow-y: auto;
}
.AppDataViewTableHeaderFilterCheckbox {
  overflow: hidden;
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-word;
}
.AppDataViewRecordDialog {
  min-width: 640px;
  padding-bottom: 0px;
}
.AppDataViewRecordDialog .bp3-dialog-body {
  margin: 4px;
  max-height: 530px;
  overflow: hidden;
  overflow-y: auto;
}
.AppDataViewRecordTable {
  font-size: 12px !important;
}
.AppDataViewRecordTableColumnListValue {
  padding-left: 14px;
  margin: 0;
}
.AppDataViewRecordTableColumnListValue[data-header="Country"] {
  list-style-type: none;
  padding: 0;
}
.AppDataViewRecordTableColumnListValue[data-header="Country"] li {
  padding-bottom: 5px;
}
.AppDataViewRecordTable tr td:first-child {
  min-width: 140px;
}
.AppDataViewGridContainer {
  font-size: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(100% / 5));
  grid-auto-rows: calc(100vh / 3);
  grid-gap: 0;
}
.AppDataViewGridContainerItem {
  background: #f0eeee;
  padding: 4px;
  border: 1px solid #ccc;
  margin: 4px;
  overflow: hidden;
  position: relative;
}
.AppDataViewGridContainerItem ul {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
}
.AppDataViewGridContainerItem ul li > strong {
  padding-right: 6px;
}
.AppDataViewGridContainerItem {
  max-width: 440px;
}
.AppDataViewGridContainerItemFade {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 54px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 255));
}
.AppDataViewGridContainerItemMoreButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;
  padding: 4px;
  padding-top: 2px;
}
thead tr th[data-header="Country"] {
  width: 140px;
}
thead tr th[data-header="Period"] {
  width: 80px;
}
